<mat-card class="product-container">
    <mat-card-header>
        <mat-card-title class="title">Add Product</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="addProduct()" [formGroup]="productForm">
            <div class="form-group">
                <div formArrayName="product">
                    <!-- <div formGroupName="product"> -->
                    <div *ngFor="let item of productx.controls; let i = index" [formGroupName]="i">
                        <div>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Product Name</mat-label>
                                <input matInput formControlName="name">
                                <mat-error *ngIf="item.get('name')?.invalid && item.get('name')?.touched">
                                    <span>Enter a Product Name</span>
                                    <span *ngIf="item.get('name')?.errors?.spacesOnly "> only space not valid</span>
                                </mat-error>



                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Price</mat-label>
                                <input matInput type="number" formControlName="price">
                                <mat-error
                                    *ngIf="item.get('price')?.invalid && item.get('price')?.touched && item.get('price')?.errors">
                                    Enter a product prices
                                    <span *ngIf="item.get('price')?.errors?.min">minimum value 0</span>
                                </mat-error>

                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Product Id</mat-label>
                                <input matInput type="number" formControlName="productId" maxlength="6">
                                <mat-error *ngIf="item.get('productId')?.invalid && item.get('productId')?.touched">
                                    <span>Enter a Product ID</span>
                                    <span *ngIf="item.get('productId')?.errors?.max"> 6 Digit </span>
                                </mat-error>

                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Select me</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option [value]="item" *ngFor="let item  of Options">{{item}}</mat-option>
                                </mat-select>
                                <mat-hint align="start">Here's the dropdown arrow ^</mat-hint>
                                <mat-error *ngIf="item.get('category')?.invalid && item.get('category')?.touched">
                                    <span>Enter Category Select</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description"></textarea>
                                <mat-error *ngIf="item.get('description')?.invalid && item.get('description')?.touched">
                                    <span>Enter Description </span>
                                    <span *ngIf="item.get('description')?.errors?.spacesOnly "> only space not
                                        valid</span>
                                </mat-error>
                            </mat-form-field>
                            <div class="radio-group">
                                <label for="example-radio-group-label">Stock Available</label>
                                <mat-radio-group aria-labelledby="example-radio-group-label"
                                    formControlName="available">
                                    <mat-radio-button value=true color="primary">Yes</mat-radio-button>
                                    <mat-radio-button value=false color="warn">No</mat-radio-button>
                                    <mat-error *ngIf="item.get('available')?.invalid && item.get('available')?.touched">
                                        <span>Enter Stock </span>
                                    </mat-error>
                                </mat-radio-group>
                            </div>
                            <div class="add-remove">
                                <button mat-mini-fab color="primary" (click)="addProductForm()" type="button">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" (click)="removeProductForm(i)"
                                    *ngIf="productLenght>1" type="button">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="button-add">
                <button mat-flat-button color="primary" type="submit">Submit</button>
                <!-- <button mat-flat-button color="accent" type="reset">Clear</button> -->
            </div>

        </form>
    </mat-card-content>
</mat-card>