<mat-card class="container">
    <mat-card-header>HENB TESTBATTERIE</mat-card-header>
    <mat-card-content>
        <div class="details-row-1">
            <div class="description">
                <h2>Description</h2>
                {{user?.description}}
            </div>
            <div class="bodyRegion">
                <h2>Body Region</h2>
                {{user?.bodyRegion}}
            </div>
        </div>
        <div class="assement-acd">
            <span class="ass-list">assessmentName</span>
            <span class="ass-list">unite</span>
            <span class="ass-list">compersion</span>
            <span class="ass-list">goals.simple?.key}}</span>
            <span class="ass-list">goals.error?.key}}</span>
            <span class="ass-list">goals.difference?.key}}</span>
            <span class="ass-list">goals.comparsion?.key}}</span>
            <span class="ass-list">status}}</span>

        </div>

        <ng-container *ngFor="let item of  user?.patient let i =index">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.categoryName }}
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div *ngFor="let ass of item.category" class="assement-acd">
                        <span class="ass-list">{{ass.assessmentName}}</span>
                        <span class="ass-list">{{ass.unite}}</span>
                        <span class="ass-list">{{ass.compersion=='' ?'one point':'Two point'}}</span>
                        <span class="ass-list">{{ass.goals.simple?.key}}{{ass.goals.simple?.value}}</span>
                        <span class="ass-list">{{ass.goals.error?.key}}{{ass.goals.error?.value}} </span>
                        <span class="ass-list">{{ass.goals.difference?.key}}{{ass.goals.difference?.value}}</span>
                        <span class="ass-list">{{ass.goals.comparsion?.key}}{{ass.goals.comparsion?.value}}</span>
                        <span class="ass-list">{{ass.status}}</span>

                    </div>


                </mat-expansion-panel>



            </mat-accordion> </ng-container>
    </mat-card-content>

</mat-card>