<mat-card class="container">

    <mat-card-header><span>HENB TESTBATTERIE</span> <button type="button" mat-icon-button color="primary" [routerLink]="['/health/edit',id]"><mat-icon>edit</mat-icon></button></mat-card-header>
    <mat-card-content>
        <div class="details-row-1">
            <div class="description">
                <h2>Description</h2>
                {{user?.description}}
            </div>
            <div class="bodyRegion">
                <h2>Body Region</h2>
                {{user?.bodyRegion}}
            </div>
        </div>
        <div class="assement-title">
            <span class="ass-list">Name</span>
            <span class="ass-list">unite</span>
            <span class="ass-list">compersion</span>
            <span class="ass-list">simple</span>
            <span class="ass-list">error</span>
            <span class="ass-list">difference</span>
            <span class="ass-list">comparsion</span>
            <span class="ass-list">status</span>

        </div>

        <ng-container *ngFor="let item of  user?.patient let i =index">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{item.categoryName }}
                        </mat-panel-title>

                    </mat-expansion-panel-header>

                    <div *ngFor="let ass of item.category let i=index">
                        <div class="assement-acd">
                            <span class="ass-list">{{ass.assessmentName}}</span>
                            <span class="ass-list">{{ass.unite}}</span>
                            <span class="ass-list">{{ass.compersion=='' ?'one point':'Two point'}}</span>
                            <span class="ass-list"><mat-icon class="maths-icon">{{ass.goals.simple?.key | symbol}}</mat-icon>{{ass.goals.simple?.value}} {{ass.unite}}</span>
                            <span class="ass-list"><mat-icon class="maths-icon">{{ass.goals.error?.key | symbol}}</mat-icon>{{ass.goals.error?.value}} % </span>
                            <span class="ass-list"><mat-icon class="maths-icon">{{ass.goals.difference?.key | symbol}}</mat-icon>{{ass.goals.difference?.value}} %</span>
                            <span class="ass-list"><mat-icon class="maths-icon">{{ass.goals.comparsion?.key | symbol}}</mat-icon>{{ass.goals.comparsion?.value}} {{ass.unite}}</span>
                            <span class="ass-list"><mat-slide-toggle color="primary"></mat-slide-toggle></span>
                            <span class="ass-list"><button type="button" mat-icon-button (click)=" openDialog(ass)"><mat-icon>stacked_line_chart</mat-icon></button></span>
                        </div>
                        <!-- <div class="chart-view"><canvas [id]="'MyChart'+i">{{ chart }}</canvas></div> -->
                    </div>


                </mat-expansion-panel>



            </mat-accordion> </ng-container>
    </mat-card-content>

</mat-card>