.health-container{max-width: 1400px;margin: 0 auto;}
.row-1{display:flex;width: 100%;}
.row-1 .sub-row-1{display: flex;flex-direction: column;width: 60%;}
.row-1 .sub-row-2{width: 35%;}
.patientTime{display:flex;gap: 10px;align-items: center;padding: 0px 10%;}
.schedule{margin-left: 10%;margin-bottom: 10px;}
.category{display: flex;gap: 10;}
.categoryName{width: 20%;}
.assessemnt{width: 80%;}
.assementDetails{display: flex;width: 100%;}
.sub-cat-row-2{width: 20%;padding: 0px 16px;}
.sub-cat-row-3{width: 80%;border: 1px solid red;margin-bottom: 16px;;}
.range{display: flex;gap: 10px;}
.goals{display: flex;gap: 16;}