<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Health</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="health-container">
    <mat-card>
        <form [formGroup]="user" (ngSubmit)="submit()">
            <div class="row-1">
                <div class="sub-row-1">
                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>Assement</mat-label>
                        <input matInput placeholder="Assement" formControlName="assement">
                    </mat-form-field>

                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>BodyRegion</mat-label>
                        <mat-select formControlName="bodyRegion" multiple>

                            <mat-option *ngFor="let brList of bodyRegionList" [value]="brList">{{brList}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>description</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."
                            formControlName="description"></textarea>
                    </mat-form-field>

                </div>
                <div formArrayName="patientTime" class="sub-row-2">
                    <div *ngFor="let item of getPatientTime.controls; let i = index">
                        <div [formGroupName]="i" class="patientTime">

                            <mat-form-field class="max-100" appearance="fill">
                                <mat-label>scheduleName</mat-label>
                                <input matInput placeholder="Assement" formControlName="scheduleName">
                            </mat-form-field>

                            <mat-form-field class="max-100" appearance="fill">
                                <mat-label>Time</mat-label>
                                <input matInput type="time" placeholder="Assement" formControlName="scheduleTime">
                            </mat-form-field>

                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                type="button" (click)="removePatientTime(i)" *ngIf="lengthPatientTime >1 ">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                    </div>
                    <button mat-flat-button color="accent" type="button" (click)="addPatientTime()" class="schedule">Add
                        Schedule</button>
                </div>
            </div>
            <div formArrayName="patient">
                <div *ngFor="let item of getPatient.controls; let i = index">
                    <div [formGroupName]="i">

                        <mat-form-field class="max-100" appearance="fill">
                            <mat-label>category</mat-label>
                            <input matInput placeholder="Assement" formControlName="categoryName">
                        </mat-form-field>
                        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                            type="button" (click)="removePatient(i)" *ngIf="lengthPatient >1 ">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <div class="assessemnt">
                            <div formArrayName="category">
                                <div *ngFor="let item of getAssessment(i).controls; let j = index">

                                    <div [formGroupName]="j" class="row-2">
                                        <div class="sub-cat-row-2">

                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>assessment</mat-label>
                                                <input matInput placeholder="Assement" formControlName="assessmentName">
                                            </mat-form-field>
                                            <button mat-flat-button color="primary" type="button"
                                                (click)="addAssesment(i)" class="schedule">Add
                                                Assessment</button>

                                        </div>
                                        <div class="sub-cat-row-3">
                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>type</mat-label>
                                                <mat-select formControlName="type">
                                                    <mat-option *ngFor="let typeList of typeList"
                                                        [value]="typeList">{{typeList}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>unite</mat-label>
                                                <mat-select formControlName="type">
                                                    <mat-option *ngFor="let typeList of unite(0)"
                                                        [value]="typeList">{{typeList}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <button mat-icon-button color="warn"
                                                aria-label="Example icon button with a heart icon" type="button"
                                                (click)="removeAssesment(i,j)" *ngIf="lengthPatient >1 ">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <button mat-flat-button color="warn" type="button" (click)="addPatient()" class="schedule">Add
                    category</button>
            </div>
            <div class="button-add">
                <button mat-flat-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </mat-card>
</div>