<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Health</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="health-container">
    <mat-card>
        <form [formGroup]="user" (ngSubmit)="submit()">
            <div class="row-1">
                <div class="sub-row-1">
                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>Assement</mat-label>
                        <input matInput placeholder="Assement" formControlName="assement">
                    </mat-form-field>

                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>BodyRegion</mat-label>
                        <mat-select formControlName="bodyRegion" multiple>
                            <mat-option *ngFor="let brList of bodyRegionList" [value]="brList">{{brList}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="max-100" appearance="fill">
                        <mat-label>description</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."
                            formControlName="description"></textarea>
                    </mat-form-field>

                </div>
                <div formArrayName="patientTime" class="sub-row-2">
                    <div *ngFor="let item of getPatientTime.controls; let i = index">
                        <div [formGroupName]="i" class="patientTime">

                            <mat-form-field class="max-100" appearance="fill">
                                <mat-label>scheduleName</mat-label>
                                <input matInput placeholder="Assement" formControlName="scheduleName">
                            </mat-form-field>

                            <mat-form-field class="max-100" appearance="fill">
                                <mat-label>Time</mat-label>
                                <input matInput type="time" placeholder="Assement" formControlName="scheduleTime">
                            </mat-form-field>

                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                type="button" (click)="removePatientTime(i)" *ngIf="lengthPatientTime >1 ">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </div>
                    </div>
                    <button mat-flat-button color="accent" type="button" (click)="addPatientTime()" class="schedule">Add
                        Schedule</button>
                </div>
            </div>
            <div formArrayName="patient">
                <div *ngFor="let item of getPatient.controls; let i = index">
                    <!-- //category group -->
                    <div [formGroupName]="i" class="category">
                        <!-- categoryName -->
                        <div class="categoryName">
                            <mat-form-field class="max-100" appearance="fill">
                                <mat-label>category</mat-label>
                                <input matInput placeholder="Assement" formControlName="categoryName"
                                    value="nghfghgfhj">
                            </mat-form-field>
                            <button mat-flat-button color="warn" type="button" (click)="addPatient()"
                                class="schedule">Add
                                category</button>
                            <button type="button" (click)="categoryShow(i)">toggle</button>
                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon"
                                type="button" (click)="removePatient(i)" *ngIf="lengthPatient >1 ">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <!-- //assement  -->
                        <div class="assessemnt">
                            <!-- /assement name  -->
                            <div formArrayName="category">
                                <ng-container *ngFor="let item of getAssessment(i).controls; let j = index">
                                    <div [formGroupName]="j" class="row-2" class="assementDetails"
                                        *ngIf="i==categoryIndex">
                                        <div class="sub-cat-row-2">

                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>assessment</mat-label>
                                                <input matInput placeholder="Assement" formControlName="assessmentName">
                                            </mat-form-field>

                                            <button (click)="showAssement(i,j)" type="button">toggle</button>

                                            <button mat-flat-button color="primary" type="button"
                                                (click)="addAssesment(i,j)" class="schedule">Add
                                                Assessment</button>

                                            <button mat-icon-button color="warn"
                                                aria-label="Example icon button with a heart icon" type="button"
                                                (click)="removeAssesment(i,j)" *ngIf="lengthAssessment(i)>1 ">
                                                <mat-icon>delete</mat-icon>

                                            </button>

                                        </div>
                                        <div class="sub-cat-row-3" *ngIf="showAssemntResult(i,j)">
                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>type</mat-label>
                                                <mat-select formControlName="type">
                                                    <mat-option *ngFor="let typeList of typeList"
                                                        [value]="typeList">{{typeList}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <div *ngIf="unite(i,j)">


                                                <mat-form-field class="max-100" appearance="fill">
                                                    <mat-label>unite</mat-label>
                                                    <mat-select formControlName="unite">
                                                        <mat-option *ngFor="let uniteList of unite(i,j)"
                                                            [value]="uniteList">{{uniteList}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-checkbox formControlName="compersion" color="primary"
                                                    value="true">Yes</mat-checkbox>

                                                <div class="range">
                                                    <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>Range Min</mat-label>
                                                        <input matInput type="number" placeholder="Assement" min="10"
                                                            max="998" formControlName="rangeMin">
                                                    </mat-form-field>
                                                    <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>Range Max</mat-label>
                                                        <input matInput type="number" placeholder="Assement" max="999"
                                                            min="11" formControlName="rangeMax">
                                                    </mat-form-field>
                                                </div>

                                                <mat-form-field class="max-100" appearance="fill">
                                                    <mat-label>measuringRegion</mat-label>
                                                    <textarea matInput placeholder="Ex. It makes me feel..."
                                                        formControlName="measuringRegion"></textarea>
                                                </mat-form-field>

                                                <mat-form-field class="max-100" appearance="fill"
                                                    *ngIf="compersion(i,j)">
                                                    <mat-label>referenceRegion</mat-label>
                                                    <textarea matInput placeholder="Ex. It makes me feel..."
                                                        formControlName="referenceRegion"></textarea>
                                                </mat-form-field>

                                                <mat-form-field class="max-100" appearance="fill">
                                                    <mat-label>measurements</mat-label>
                                                    <mat-select formControlName="measurements" multiple>
                                                        <mat-option *ngFor="let routine of measurementsList(i,j)"
                                                            [value]="routine">
                                                            {{routine}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div>
                                                    <h3>Goals</h3>
                                                    <div formGroupName="goals" class="goals">
                                                        <!-- <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>measurements</mat-label>
                                                        <mat-select formControlName="goals">
                                                            <mat-option *ngFor="let compersion of compersionList"
                                                                [value]="compersion">
                                                                {{compersion}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field> -->

                                                        <mat-form-field class="max-100" appearance="fill">
                                                            <mat-label>value</mat-label>
                                                            <input matInput type="number" placeholder="Assement"
                                                                max="999" min="11" formControlName="goal1" [value]="20">
                                                        </mat-form-field>

                                                        <!-- <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>value</mat-label>
                                                        <input matInput type="number" placeholder="Assement" max="999"
                                                            min="11" formControlName="goal2">
                                                    </mat-form-field>
                                                    <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>value</mat-label>
                                                        <input matInput type="number" placeholder="Assement" max="999"
                                                            min="11" formControlName="goal3">
                                                    </mat-form-field>
                                                    <mat-form-field class="max-100" appearance="fill">
                                                        <mat-label>value</mat-label>
                                                        <input matInput type="number" placeholder="Assement" max="999"
                                                            min="11" formControlName="goal4">
                                                    </mat-form-field> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>routine</mat-label>
                                                <mat-select formControlName="routine" multiple>
                                                    <mat-option *ngFor="let routine of routineList" [value]="routine">
                                                        {{routine}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                            <mat-form-field class="max-100" appearance="fill">
                                                <mat-label>times</mat-label>
                                                <mat-select formControlName="times" multiple>
                                                    <mat-option *ngFor="let times of time()"
                                                        [value]="times">{{times.scheduleName + '' +
                                                        times.scheduleTime}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>


                                        </div>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="button-add-form">
                <button mat-flat-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </mat-card>
</div>