<mat-toolbar color="primary" class="product-navbar home">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Product</span>
    <a routerLink="/product/add" class="link">Add</a>
    <a routerLink="/product/table" class="link">Table</a>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>